.detailBackBtn{
    position: fixed;
    top: 25px;
    left: 10px;
    z-index: 5;
}

.detailBackBtn button{
    outline: none;
    border: none;
}

.detailBackBtn button i{
    background-color: rgba(0, 0, 0, 0.446);
}

.featuresPara{
    font-size: 14px;
    font-weight: 500;
}

@media screen and (min-width: 560px) {
    .detailMain{
        display: flex;
    }
    .leftDesk{
        width: 50%;
    }
    .rightDesk{
        width: 50%;
        height: 100vh;
        overflow-y: auto;
    }
    .floatBtnWrap{
        left: 0;
    }
}