/* *{
    color: red;
} */

.categorycard{
    width: 75px;
}

.categoryTxt{
    font-size: 12px;
    white-space: nowrap;
}

@media screen and (min-width: 370px) {
    .categorycard{
        width: 80px;
    }
}